[user]
name = "aadriance"
email = "me@primaryartemis.com"

[revset-aliases]
'user(x)' = 'author(x) | committer(x)'
'mine()' = 'user("me@primaryartemis.com")'
'wip()' = 'description(glob:"wip:*")'

# stack(x, n) is the set of mutable commits reachable from 'x',
# with 'n' parents. 'n' is often useful to customize the display
# and return set for certain operations. 'x' can be used to target
# the set of 'roots' to traverse, e.g. @ is the current stack.
'stack()' = 'stack(@)'
'stack(x)' = 'stack(x, 2)'
'stack(x, n)' = 'ancestors(reachable(x, mutable()), n)'

'open()' = 'stack(mine() | @, 1)'
'ready()' = 'open() ~ descendants(wip())'
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'

[aliases]
tug = [
  'bookmark',
  'move',
  '--from',
  'heads(::@ & bookmarks())',
  '--to',
  'closest_pushable(@)',
]

[ui]
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
